
<div class="container">
    <div class="row "><p>shadow-dom-mode works!</p></div>
    <div class="row"><h1>Welcome to {{title}}</h1>
    </div>
     <div class="row align-middle">        
           <h2> View Encapsulation        </h2>
     </div>
     <div class="row border border-primary">
            <div class="col">
                    Emulated
            </div> 
            <div class="col">
                <p> &bull; no Shadow DOM</p>
                <p> &bull; style encapsulation </p>
                <p> &bull; value: 0</p>
            </div>            
     </div>
     <div class="row border border-info">
        <div class="col">
                Native
        </div>
        <div class="col">
                <p>&bull; Shadow DOM</p>
                <p>
                    &bull; style encapsulation
                </p>
                <p> &bull; value:1 </p>
        </div>
     </div>
     <div class="row border border-info">
        <div class="col">
                None
        </div>
        <div class="col">
            <p>&bull; now Shadow DOM </p>
            <p>&bull; no style encapsulation </p>
            <p>&bull; value:2 </p>
        </div>
     </div>
     <div class="row border border-info">
            <div class="col">
                ShadowDom
            </div>
            <div class="col">
                <p>&bull;Shadow DOM</p>
                <p>&bull; style encapsulation</p>
                <p>&bull; value:3</p>
            </div>
     </div>
</div>